{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/source/bootstrap-3.3.6-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'store/source/font-awesome-4.5.0/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="[% static 'store/style/slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static  'store/style/mystyle.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
